.navbar-container {
    margin-bottom: 10px;
}

.main-view-container {
    margin: 50px;
}

.user-list-container {
    margin-top: 5px;
};

.generic-user-form-field {
    margin-top: 5px;
}

.generic-user-form-field-input {
    margin-left: 10px;
}

.user-modal {
    width: 100px;
}